.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44;
  letter-spacing: 0.36px;
  text-align: center;
  color: #fff;

  &_black {
    color:#3c4761;
  }

  &_dark-black {
    color: #393939;
  }
}
